# URLs to scrape
URL_1=
URL_2=
URL_3=

# Selectors
SELECTOR_1_CONTAINER=
SELECTOR_1_TITLE=
SELECTOR_1_LINK=

SELECTOR_2_CONTAINER=
SELECTOR_2_TITLE=
SELECTOR_2_LINK=

SELECTOR_3_CONTAINER=
SELECTOR_3_TITLE=
SELECTOR_3_LINK=
