# URLs to scrape
URL_1=https://news.ycombinator.com
SELECTOR_1_CONTAINER=.athing
SELECTOR_1_TITLE=.titleline a
SELECTOR_1_LINK=.titleline a

URL_2=
SELECTOR_2_CONTAINER=
SELECTOR_2_TITLE=
SELECTOR_2_LINK=

URL_3=
SELECTOR_3_CONTAINER=
SELECTOR_3_TITLE=
SELECTOR_3_LINK=
